{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'frontend/iconImage/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'frontend/css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/css/financialcompliancestyle.css' %}" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Financial Compliance Dashboard</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="logout-links">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="back-link">
        <a href="{% url 'list_records' %}">Back</a>
    </div>
    <button id="editButton" class="styled-button">Edit</button>
    <h1 class="recordMg">Financial Compliance Dashboard</h1>
      <form class="financial-compliance-form" method="post">
        {% csrf_token %}
        <div class="form-grid">
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="POnumber">POnumber:</label>
            <input type="text" name="POnumber" class="financial-compliance-input" placeholder="POnumber"
              value="{{record.POnumber}}" readonly/>
          </div>
          <!-- <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="SATAmendmentId">SAT Ammendment Id:</label>
            <input type="text" name="SATAmendmentId" class="financial-compliance-input" placeholder="SAT Ammendment Id"
              value="{{record.SATAmendmentId.SATAmendmentId}}" required readonly/>
          </div> -->
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="SubrecipientName">Subrecipient Name</label>
            <input type="text" name="SubrecipientName" placeholder="Subrecipient Name" class="financial-compliance-input"
              value="{{record.SATAmendmentId.SubrecipientName}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="SubawardNumber">Subaward Number</label>
            <input type="text" name="SubawardNumber" placeholder="Subaward Number" class="financial-compliance-input"
              value="{{record.SATAmendmentId.SubawardNumber}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="PrimeAwardNumber">Award Number</label>
            <input type="text" name="PrimeAwardNumber" placeholder="Prime Award Number" class="financial-compliance-input"
              value="{{record.SATAmendmentId.PrimeAwardNumber}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="ProjectId">Project ID</label>
            <input type="text" name="ProjectId" placeholder="Project ID" class="financial-compliance-input"
              value="{{record.SATAmendmentId.ProjectId}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="PIFirstName">PI First Name</label>
            <input type="text" name="PIFirstName" placeholder="PI First Name" class="financial-compliance-input"
              value="{{record.SATAmendmentId.PIFirstName}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="PILastName">PI Last Name</label>
            <input type="text" name="PILastName" placeholder="PI Last Name" class="financial-compliance-input"
              value="{{record.SATAmendmentId.PILastName}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="PrimeSponsor">Prime Sponsor</label>
            <input type="text" name="PrimeSponsor" placeholder="Prime Sponsor" class="financial-compliance-input"
              value="{{record.SATAmendmentId.PrimeSponsor}}" readonly />
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="DateFinalInvoiceRecieved">Date Final Invoice
              Recieved:</label>
            <input type="date" name="DateFinalInvoiceRecieved" class="financial-compliance-input"
              value="{{record.DateFinalInvoiceRecieved|date:'Y-m-d' }}" readonly/>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="DateFinalInvoiceDue">Date Final Invoice
              Due:</label>
            <input type="date" name="DateFinalInvoiceDue" class="financial-compliance-input"
              value="{{record.DateFinalInvoiceDue|date:'Y-m-d' }}" readonly/>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="Status">Status</label>
            <select name="Status" class="financial-compliance-input">
              <option value="none" selected disabled hidden>
                Select an Option
              </option>
              <option value="Pending preaward" {% if record.SATAmendmentId.Status == "Pending preaward" %} selected {% endif %}>Pending preaward</option>
              <option value="Pending NoA" {% if record.SATAmendmentId.Status == "Pending NoA" %} selected {% endif %}>Pending NoA</option>
              <option value="Pending PI/DA" {% if record.SATAmendmentId.Status == "Pending PI/DA" %} selected{% endif %}> Pending PI/DA</option>
              <option value="Pending documents from Subrecipient" {% if record.SATAmendmentId.Status == "Pending documents from Subrecipient" %} selected {% endif %}>Pending documents from Subrecipient</option>
              <option value="Pending post Award" {% if record.SATAmendmentId.Status == "Pending post Award" %} selected {% endif %}>Pending post Award</option>
              <option value="Determined to be CFS" {% if record.SATAmendmentId.Status == "Determined to be CFS" %} selected {% endif %}>Determined to be CFS</option>
              <option value="Pending PO" {% if record.SATAmendmentId.Status == "Pending PO" %} selected {% endif %}>Pending PO</option>
              <option value="Pending Assessments" {% if record.SATAmendmentId.Status == "Pending Assessments" %} selected {% endif %}>Pending Assessments</option>
              <option value="Open Pending" {% if record.SATAmendmentId.Status == "Open Pending" %} selected {% endif %}>Open Pending</option>
              <option value="Executed" {% if record.SATAmendmentId.Status == "Executed" %} selected {% endif %}>Executed</option>
              <option value="Preaward" {% if record.SATAmendmentId.Status == "Preaward" %} selected {% endif %}>Preaward</option>
              <option value="Active" {% if record.SATAmendmentId.Status == "Active" %} selected {% endif %}>Active</option>
              <option value="Closed" {% if record.SATAmendmentId.Status == "Closed" %} selected {% endif %}>Closed</option>
              <option value="Withdrawn" {% if record.SATAmendmentId.Status == "Withdrawn" %} selected {% endif %}>Withdrawn</option>
            </select>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="PrimeSponsorType">PrimeSponsorType:</label>
            <select name="PrimeSponsorType" class="financial-compliance-input" disabled>
              <option value="" {% if record.PrimeSponsorType == "None" %} selected {% endif %}>Select an Option</option>
              <option value="Federal"{% if record.PrimeSponsorType == "Federal" %} selected {% endif %}>Federal</option>
              <option value="NonFederal"{% if record.PrimeSponsorType == "NonFederal" %} selected {% endif %}>NonFederal</option>
            </select>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="AwardType">AwardType:</label>
            <select name="AwardType" class="financial-compliance-input" disabled>
              <option value="" {% if record.AwardType == "None" %} selected {% endif %}>Select an Option</option>
              <option value="Cost" {% if record.AwardType == "Cost" %} selected {% endif %}>Cost</option>
              <option value="Fixed" {% if record.AwardType == "Fixed" %} selected {% endif %}>Fixed</option>
            </select>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="BillingTerms">BillingTerms:</label>
            <select name="BillingTerms" class="financial-compliance-input" disabled>
              <option value="" {% if record.BillingTerms == "None" %} selected {% endif %}>Select an Option</option>
              <option value="Monthly"{% if record.BillingTerms == "Monthly" %} selected {% endif %}>Monthly</option>
              <option value="Quaterly"{% if record.BillingTerms == "Quaterly" %} selected {% endif %}>Quaterly</option>
              <option value="Deliverable"{% if record.BillingTerms == "Deliverable" %} selected {% endif %}>Deliverable</option>
            </select>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="FFATAFilledDate">FFATAFilledDate:</label>
            <input type="date" name="FFATAFilledDate" class="financial-compliance-input" 
            value="{{record.FFATAFilledDate|date:'Y-m-d' }}" readonly/>
          </div>
          <div class="financial-compliance-field">
            <label class="financial-compliance-label" for="Notes">Notes:</label>
            <textarea name="Notes" class="financial-compliance-input" placeholder="Notes">{{record.Notes}}</textarea>
          </div>
        </div>
        <div class="button-container">
          <button id="cancelButton" class="styled-button hidden" type="button">Cancel</button>
          <div class="submit-button-container">
              <button id="submit-button" type="submit" class="styled-button hidden">Submit</button>
          </div>
          <div id="home-link" class="links">
              <a href="{% url 'dashboard' %}">Home</a>
          </div>
      </div>
    </div>
  </div>

  <script>
    const editButton = document.getElementById("editButton");
    const submitButton = document.getElementById("submit-button");
    const cancelButton = document.getElementById("cancelButton");

    // Function to toggle the form's editability
    function toggleEditability(editable) {
        const fields = document.querySelectorAll(".financial-compliance-input");
        fields.forEach((field) => {
            field.readOnly = !editable;
            field.disabled = !editable;
        });
        const checkboxFields = document.querySelectorAll(".financial-compliance-input-checkbox");
        checkboxFields.forEach((field) => {
            field.disabled = !editable;
        });

        submitButton.classList.toggle("hidden", !editable);
        cancelButton.classList.toggle("hidden", !editable);
        editButton.classList.toggle("hidden", editable);
    }

    // Initially, the form is not editable
    toggleEditability(false);

    // Edit button click event listener
    editButton.addEventListener("click", () => {
        toggleEditability(true); // Make the form editable
    });

    // Back button click event listener
    cancelButton.addEventListener("click", () => {
        toggleEditability(false); // Make the form read-only
    });

    event.preventDefault();
    // Clear any previous error messages
    errorMessages.innerHTML = "";

    // If there are errors in the JSON response, display them
    // Use jQuery to send an AJAX request
    $.ajax({
      type: "POST",
      url: "{% url 'update_financial_compliance' %}", // Replace with the actual endpoint
      data: new FormData(form),
      processData: false,
      contentType: false,
      dataType: "json",
      error: function (data) {
        console.log(data.responseJSON.errors)
        if ('errors' in data.responseJSON) {
          const errorHTML = Object.values(data.responseJSON.errors).map(error => `<p>${error}</p>`).join('');
          const errorMessageContainer = document.createElement("div");
          errorMessageContainer.classList.add("error-message");
          errorMessageContainer.innerHTML = errorHTML;
          form.insertBefore(errorMessageContainer, submitButton);
        } else {
          // Redirect to the success page or handle it as needed
          window.location.href = "{% url 'dashboard' %}"; // Replace with the actual success page URL
        }
      }
    });
  </script>

</body>

</html>